{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
  {% assign count = 0 %}
<div class="collection-grid ">
    <div class="page-width section-{{ section.id }}-padding isolate">
        <h2 class="related-products__heading inline-richtext {{ section.settings.heading_size }}">
            {{ section.settings.heading }}
        </h2>
        <div class="block_collection_title mb-50">
            <ul class="main_block_title tc">
                {%- for block in section.blocks -%}
                {% assign count = count | plus: 1 %}
                {%- assign collection = collections[block.settings.collection] -%}
                <li class="block_collectiontitle"><a href="#tab-{{forloop.index}}" data-index="{{count}}" class="tabs {% if forloop.first %}code-current{% endif %}">{% if block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ collection.title }} {% endif %}</a></li>
                {%- endfor -%}
            </ul>
        </div>
        <div class="block_collection_image">
          {%- for block in section.blocks -%}
           {%- assign collection = collections[block.settings.collection] -%}
          <div class="collection_product{% if  forloop.first %} active{% endif %}" id="tab-{{forloop.index}}">
            <ul class=" grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
              role="list">
                {%- for product in collection.products limit:6 -%}
                      {% assign lazy_load = false %}
                      {%- if forloop.index > 2 -%}
                        {%- assign lazy_load = true -%}
                      {%- endif -%}
                      <li
                        class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                        {% if settings.animations_reveal_on_scroll %}
                          data-cascade
                          style="--animation-order: {{ forloop.index }};"
                        {% endif %}
                      >
                        {% render 'card-product',
                          card_product: product,
                          media_aspect_ratio: section.settings.image_ratio,
                          image_shape: section.settings.image_shape,
                          show_secondary_image: section.settings.show_secondary_image,
                          show_vendor: section.settings.show_vendor,
                          show_rating: section.settings.show_rating,
                          lazy_load: lazy_load,
                          show_quick_add: section.settings.enable_quick_add,
                          section_id: section.id
                        %}
                      </li>
                {%- endfor -%}
            </ul>
          </div>
          {%- endfor -%}
        </div>
    </div>
</div>
<style>
/* start collection grid tab css */
.block_collectiontitle {
  list-style-type: none;
}
.block_collectiontitle .tabs {
  text-decoration: none;
}
.main_block_title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block_collectiontitle{
      width: 16%;
}
.block_collectiontitle .tabs {
      color: inherit;
}
.block_collection_image .collection_product{
  display:none;
}
.block_collection_image .collection_product.active{
  display:block;
}
/* end collection grid tab css */
</style>
{% schema %}
{
  "name": "Collection grid tab",
  "tag": "section",
  "class": "collection-grid-tab",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Collection grid",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
     {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },  
   {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "max_blocks": 6,
  "blocks": [
     {
       "name": "Collection",
       "type": "Collection",
       "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title block"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        }
       ]
     }
  ],
  "presets": [
    {
      "name": "Collection grid tab",
      "blocks": [
        {
          "type": "Collection"
        },
        {
          "type": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
